
/*xdxdxxdxdxdxdxdxdxddxdxdxdxdxdxdxdxdxdxdxdxdxdxdxdxdxd*/
@media screen and (min-width: 768px) {
    body{
        width: 70%;
        margin: 0 auto;
    }
    .block_display_flex{
        display: flex;
    }
}

@media screen and (min-width: 376px) and (max-width: 767px) {

    .description__title_size_m{
        font-size: 70px !important;
    }
    body{
        width: 90%;
        margin: 0 auto;
    }
    .slider__img_main{
        width: 94% !important;
        height: fit-content !important;
    }
    .slider-list__img{
        width: 29% !important;
        height: fit-content !important;
    }
    .slider_position{
        margin: 0 auto !important;
        text-align: center;
    }
    .description_position{
        margin: 0 auto;
    }
    .awards__item_position{
        max-width: 150px;
        width: 100% !important;
        height: fit-content !important;
    }
    .social__item_size{
        width: 60px !important;
        height: 60px !important;
    }
    .social_position{
        margin:50px 0 30px 0 !important;
    }
}

@media screen and (max-width: 375px) {
    .description__title_size_m{
        font-size: 50px !important;
    }
    body{
        width: 90%;
        margin: 0 auto;
    }
    .slider__img_main{
        width: 94% !important;
        height: fit-content !important;
    }
    .slider-list__img{
        width: 29% !important;
        height: fit-content !important;
    }
    .slider_position{
        margin: 0 auto !important;
        text-align: center;
    }
    .description_position{
        margin: 0 auto;
    }
    .awards__item_position{
        max-width: 150px;
        width: 100% !important;
        height: fit-content !important;
    }
    .social__item_position{
        margin:0 10px 0 10px !important;
    }
    .social__item_size{
        width: 45px !important;
        height: fit-content !important
    }
    .social_position{
        margin:50px 0 30px 0 !important;
    }
    .about-content__item_font{
        font-size: 15px !important;
        line-height: 14px !important;
    }
    .content_position{
        padding: 0 20px 0 20px !important;

    }
    .block_padding{
        padding-top: 50px !important;
    }
    .title_font-size{
        margin: 0 auto !important;
        font-size: 28px !important;
    }
    .about-content__list{
        padding-left: 20px;
    }
}
/*xdxdxxdxdxdxdxdxdxddxdxdxdxdxdxdxdxdxdxdxdxdxdxdxdxdxd*/

.background-color_black{
    background: #000000;
}
/**/

.header__arrow_position{
    float: left;
    margin-top: 13px;
    margin-right: 10px;

}
.header__arrow_size{
    width: 106px;
    height: 12px;
}

/**/
/*модификатор блока верхней части сайта*/

.block_font-color_white{
    color: white;
}
.block_position{
    margin: 0 auto 100px;
}
/**/

/*модификаторы элементов слайдера*/
.slider_position{
    margin: 0 50px 0 1px;
}
.slider__img_position{
    margin-bottom: 9px;
}
.slider__img_main{
    height: 662px;
    width: 536px;
}
.slider-list__img_small{
    height: 167px;
    width: 167px;
}
.slider-list__img_position{
    margin-right: 9px;
}
/**/

/*модификаторы элементов описания*/

.description__title_size_m{
    font-size: 86px;
}
.description__title_position{
    margin-top: 0;
}

.description__text_size_s {
    font-size: 20px;
}
.description__text_size_m{
    font-size: 28px;
}
/**/



/*модификаторы блока описания*/

/**/

/*модификаторы блока контента описания*/
.about-content_color_black{
    color: black;
}
/**/

/*модификаторы элементов блока контента описания*/

.about-content__item_font{
    font-size: 20px;
    line-height: 28px;
}

/**/
/* соц сети*/
    .social_position{
        margin:100px 0 70px 0;
        text-align: center;
    }
    .social__item_position{
        margin: 0 20px 0 20px;
    }
    .social__item_size{
        width: 85px;
        height: 85px;
    }


/**/
.content_position{
    margin: 0 auto;
    padding: 0 60px 0 60px;

}
.block_padding{
    padding: 70px 0 70px 0;
}
.block_background_white{
    background: white;
}
.block_border{
    border-radius: 48px;
}

.title_font-size{
    font-size: 45px;
}
.title_font-family_HandelGothicTL{
    font-family: "HandelGothic TL";
}
.text_font-family_helvetica {
    font-family: "helvetica";
}
.text_color_yellow{
    color: #FFBF40;
}

@font-face {
font-family: "HandelGothic TL";
src: url("fonts/HandelGhoticTL.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: "helvetica";
    src: url("fonts/helvetica_regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}


